<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incentive Test</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="col-md-6">
                <img src="/Content/Imagen/principal_logo.png" height="50" width="105">
            </div>
            <div class="col-md-6">@Html.ActionLink("Home", "Index", "Index", new { area = "" }, new { @class = "navbar-brand" })</div>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
</div>
</body>
</html>