<div id="modalConfirmacion" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Advertencia</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="btnDeleteYes">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnDeleteNo">Cancel</button>
            </div>
        </div>
    </div>
</div>